// $clr-primary: hsl(80, 50%, 50%);


body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $clr-bg;
}

h1 {
  color: $clr-bg-text;
}